@model ElearningProject.DAL.Entities.Student
@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h2 style="color:seagreen">~Öğrenci Ekleme Paneli~</h2>
                <form method="post">
                    <label>Öğrenci Ad</label>
                    <input type="text" name="Name" class="form-control" required />
                    <br />
                    <br />
                    <label>Öğrenci Soyad</label>
                    <input type="text" name="Surname" class="form-control" required />
                    <br />
                    <br />
                    <label>Öğrenci Mail Adresi</label>
                    <input type="email" name="Email" class="form-control" required />
                    <br />
                    <br />
                    <label>Öğrenci Şifre</label>
                    <input type="password" name="Password" class="form-control" required />
                    <br />
                    <br />
                    <button class="btn btn-success">ÖĞRENCİ EKLE</button>
                </form>
            </div>
        </div>
    </div>
</div>


